*{
    margin: 0;
    padding: 0;
}
html{
    background-color: aliceblue;
}
.ti{

    border-style: ridge;
    background-color: rgb(250, 42, 42);
    text-align: center;
    border-radius: 1rem;
}
.df{
    display: flex;
    justify-content: space-evenly;
}
image:hover{
    border-color: cadetblue;
}
.db{
    display: block;
}
h3{
    justify-content: center;
    margin-left: 1rem;
}
img{
    
    height: 30rem;
    width: 30rem;
    margin: 1rem;
}