.lista{
    background-color: rgb(212, 209, 0);

}
.Texto{
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: 10px;
    padding: 5px;
}
.Texto:hover{
    color: rgb(6, 116, 136);
    font-size: 25px;
    font-weight: 10px;
}
.Titulo{
    text-align: center;
    color: lavender;
    background-color: rgb(39, 39, 39);
}
.Subtitulo{
    font-size: 17px;
    font-family: sans-serif;
}
.Pestaña_activa{
    color: rgb(6, 116, 136);
    font-size: 25px;
    font-weight: 10px;
}
.Video{
    background-color: rgb(248, 245, 85);
    padding: 10px;
    border-radius: 5px;
}